//-------------------Fonts--------------------

//-------------------Reset and import styles--------------------
@import 'reset.scss';
@import 'mixins.scss';
@import 'header.scss';

@import 'footer.scss';
//-------------------Basic Styles--------------------
*:focus-visible {
   outline: 3px solid black;
}
body {
   font-family: 'Times New Roman';
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #ffffff00;
   .lock & {
      overflow: hidden;
      touch-action: none;
      overscroll-behavior: none;
   }
}
.wrapper {
   min-height: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;
   position: relative;
}
.page {
   flex-grow: 1;
}
[class*='__container'] {
   max-width: 1280px;
   padding: 0px 15px;
   margin: 0px auto;
}
//------------------Background---------------------
.background {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   min-height: 100%;
   z-index: -5;
   // .background__top-shadow
   &__top-shadow {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: linear-gradient(
         -12.53deg,
         rgba(11, 29, 38, 0) 31.055%,
         rgb(11, 29, 38) 108.93%
      );
   }
   // .background__clouds
   &__clouds {
      position: absolute;
      top: -40.583333vh; /* -487/1200 */
      left: 0;
      width: 100%;
      min-height: 100vh;
      padding-bottom: 78.802083%; /* 1513/1920 */
      background: url('img/background/clouds.webp') center/cover;
   }
   // .background__mountains
   &__mountains {
		position: absolute;
      top: 38.666667vh; /* 464/1200 */
      left: 0;
      width: 100%;
      min-height: 100vh;
      padding-bottom: 74.0625%; /* 1422/1920 */
      background: url('img/background/mountains.webp') center/cover;
   }
   // .background__grass
   &__grass {
		position: absolute;
      top: 64vh; /* 768/1200 */
      left: 0;
      width: 100%;
      min-height: 100vh;
      padding-bottom: 48.229167%; /* 926/1920 */
      background: url('img/background/grass.webp') 25% 0/cover;
   }
   // .background__bottom-shadow
   &__bottom-shadow {
		position: absolute;
      top: 100vh;
      left: 0;
      width: 100%;
		min-height: 100vh;
      padding-bottom: 36.458333%; /* 700/1920 */
      background: linear-gradient(180.00deg, rgba(11, 29, 38, 0),rgb(11, 29, 38) 61.384%);
   }
   // .background__prim-clr
   &__prim-clr {
		position: absolute;
		top: 190vh;
		left: 0;
		width: 100%;
		min-height: 100%;
		background: rgb(11, 29, 38);
   }
}
