//-------------------Reset and mixins-------------------
@import 'mixins.scss';
@import 'reset.scss';
//-------------------Fonts--------------------
@include font('Gilroy', 'Gilroy-Medium', 500, normal);
@include font('Gilroy', 'Gilroy-Bold', 700, normal);
@include font('Gilroy', 'Gilroy-Extrabold', 800, normal);
@include font('Chronicle Display', 'Chronicle Display Semibold', 600, normal);
@include font('Chronicle Display', 'Chronicle Display Bold', 700, normal);
//-------------------Basic Styles--------------------
*:focus-visible {
   outline: 3px solid rgb(251, 215, 132);
   outline-offset: 3px;
}
* {
   scrollbar-width: none;
}
::-webkit-scrollbar {
   width: 0;
}
body {
   font-family: 'Gilroy';
   font-size: 1.125rem;
   font-weight: 700;
   line-height: 1.2222222;
   color: #ffffff;
   .lock & {
      overflow: hidden;
      touch-action: none;
      overscroll-behavior: none;
   }
}
.wrapper {
   min-height: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;
   position: relative;
}
.page {
   flex-grow: 1;
}
[class*='__container'] {
   max-width: 91.666667%; /* 1760/1920 */
   margin: 0px auto;
}
//------------------Background---------------------
.background {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   min-height: 100%;
   z-index: -5;
   // .background__top-shadow
   &__top-shadow {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: linear-gradient(
         -12.53deg,
         rgba(11, 29, 38, 0) 31.055%,
         rgb(11, 29, 38) 108.93%
      );
      z-index: 1;
   }
   // .background__clouds
   &__clouds {
      position: absolute;
      top: -40.583333vh; /* -487/1200 */
      left: 0;
      width: 100%;
      min-height: 100vh;
      padding-bottom: 78.802083%; /* 1513/1920 */
      background: url('../img/background/clouds.webp') center/cover;
      transform-origin: left center;
      transform: scale(3);
      animation: moveClouds 90s linear 1 forwards;
   }
   // .background__mountains
   &__mountains {
      position: absolute;
      top: 38.666667vh; /* 464/1200 */
      left: 0;
      width: 100%;
      min-height: 100vh;
      padding-bottom: 74.0625%; /* 1422/1920 */
      background: url('../img/background/mountains.webp') center/cover;
   }
   // .background__grass
   &__grass {
      position: absolute;
      top: 64vh; /* 768/1200 */
      left: 0;
      width: 100%;
      min-height: 100vh;
      padding-bottom: 48.229167%; /* 926/1920 */
      background: url('../img/background/grass.webp') 25% 0 / cover;
   }
   // .background__bottom-shadow
   &__bottom-shadow {
      position: absolute;
      top: 100vh;
      left: 0;
      width: 100%;
      min-height: 100vh;
      padding-bottom: 36.458333%; /* 700/1920 */
      background: linear-gradient(
         180deg,
         rgba(11, 29, 38, 0),
         rgb(11, 29, 38) 61.384%
      );
   }
   // .background__prim-clr
   &__prim-clr {
      position: absolute;
      top: 190vh;
      left: 0;
      width: 100%;
      min-height: 100%;
      background: rgb(11, 29, 38);
   }
}

@keyframes moveClouds {
   to {
      transform: scale(1);
   }
}
//----------------Import Styles----------------------

@import 'header.scss';
@import './page/start-section';
@import 'footer.scss';